#order-cart {
	font-size: 0.9rem;
}

thead {
	color: #777777;
	border-bottom: 2px solid rgb(236, 236, 236);
}

/*
.order-items, table {
	border-bottom: 2px solid rgb(236, 236, 236);
}
*/


.total-border-top{
	border-top: 2px solid rgb(236, 236, 236);
	border-bottom: 2px solid rgb(236, 236, 236);
}